$mainTextColor: #ffffff;
$additionalTextColor: #e8e8e8;
$contrastTextColor: #1f6eff;

$mainBgColor: #111111;

$h1FontSize: 32px;
$h2FontSize: 24px;
$h3FontSize: 18px;

$additionalSpanFontSize: 14px;

$pFontSize: 18px;

$textBgColor: #262626;
$textborder: rgba(185, 185, 185, 0.31);
