*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    padding: 15px;
}
.title {
    @include H1;
}
html,body {
    &::-webkit-scrollbar {
        width: 0px;
    }
}