extends common/layout.pug

block content 
    main.main  
        section.top
            .container
                .top__title
                    | Welcome to my profile
                .top__subtitle
                    | Designed on the assembly of gulp, pug, scss
            .top__animation-block
                svg(height="160px" width="160px")
        .top__scrollMe
            span.top__scrollMe__span
                | Scroll page!

        section.about(style="color:white")
            .container
                .about__title.title
                    | About me


                
                        
                        

                    
                

        